<form class="ui stacked segment form" action="/dashboard/addFlightCollection" method="POST">
  <div class="two fields">
    <div class="field">
      <label for ="title">Title</label>
      <input placeholder="Title" type="text" name="title" autofocus required>
    </div>
    <div class="field">
      <label for="numberOfFlights">Number Of Flights</label>
      <input placeholder="Number of Flights" type="text" name="numberOfFlights" required>
    </div>
  </div>

  <button class="ui blue submit button">Add Flight Collectiont</button>
</form>